html {
  width: 100%;
  height: 100%; 
}


body {
	background-color: #6b4b41;
	background-image: url(../assets/imgs/background-img.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {
	color: #c9b8b3;
}

a:hover {
	color: #a79e9b;
}

.navbar {
	color:gray;
	border: none;
	font-size: 1.3em;
	z-index: 99;
	position: fixed;
	right: 0;
    left: 0;
}

.navbar-brand {
	font-size: 1.7em;
}

#content {
    color: #e0d8c5;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 20%;
	text-shadow: 3px 4px 5px rgba(0,0,0,0.8),
		0px 8px 13px rgba(0,0,0,0.5),
		0px 18px 23px rgba(0,0,0,0.5);
}

#content h1 {
	font: 600 3.5em 'Lato', sans-serif;
}

#content button {
	letter-spacing: 0;
	margin-top: 20px;
}

#footer {
	color: lightgreen;
	text-align: center;
	margin-top: 60px;
	font-size: 1.4em;
	background-color: rgba(0,0,0,0.5);
	text-shadow: 3px 4px 5px rgba(0,0,0,0.8),
		0px 8px 13px rgba(0,0,0,0.5),
		0px 18px 23px rgba(0,0,0,0.5);
	padding: 10px 0;
}

#submissions-counter {
	font-weight: bold;
}

.jumbotron {
	background:rgba(102, 102, 102, 0.8);
	margin: 20% 10%;
	color: #fff;
	border-radius: 13px;
	padding: 20px;
}

form {
	background:rgba(102, 102, 102, 0.8);
	margin-top: 50px;
	color: #fff;
	border-radius: 13px;
}

.s-form{
	padding: 20px;
	
}

.s-form label {
	margin: 5px;
}

.sign-head {
	color: #e0d8c5;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .2em;
	padding-top: 10%;
text-shadow: 3px 4px 5px rgba(0,0,0,0.8),
	0px 8px 13px rgba(0,0,0,0.5),
	0px 18px 23px rgba(0,0,0,0.5);
}
/* styling of Google Maps div and Add location button */
#map {
        height: 400px;
        width: 100%;
       }
.btn-addloc {
	margin-top: 5%;
}

/*this is supposesd to changed the navbar breakpoint*/
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

