.access-forms {
padding-top:25px;
}

html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Raleway', sans-serif;
}
.navbar {
  box-shadow: 0 0 .3rem rgba(0,0,0, 0.5);
}

footer {
  box-shadow: 0 0 .3rem rgba(0,0,0, 0.5);
}

.jumbotron {
	background-image: url(https://images.unsplash.com/photo-1523898377974-b4f882164761?ixlib=rb-0.3.5&s=25e34b1d34a4d24d5cdeb13da625e142&auto=format&fit=crop&w=1349&q=80);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0,0,0,  0.4);
  background-blend-mode: overlay;
  color: #fff;
}

.jumbotron h1 {
  font-weight: 100;
}
.jumbotron .display-4 {
  font-weight: 300;
}
.jumbotron p {
  font-weight: 300;
  font-size: 1.3rem;
}
.jumbotron .lead {
  color: rgba(255,255,255,1);
  font-size:  1.6rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#map {
  height: 500px;
  width: 500px;
  padding: 10px;
  margin: 5px;
}

.title{
  background-color: rgba(255,255,255, 0.65);
  width: 50%;
  border-radius: 10px;
  padding: 10px;
}
a {
  color: rgba(62,102,23, 1);
  transition:  all .4s ease-in-out;
}
a:hover {
  color: rgba(62,102,23, 0.8);
  text-decoration: none;
}
.btn-primary {
  background-color: rgba(62,102,23, 1);
  border-color: rgba(62,102,23, 1);
  transition:  all .4s ease-in-out;
}
.btn-primary:hover {
  background-color: rgba(62,102,23, 0.8);
  border-color: rgba(62,102,23, 0.8);
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:active {
  background-color: rgba(62,102,23, 0.8);
  border-color: rgba(62,102,23, 0.8);
  box-shadow: 0 0 .3rem .2rem rgba(0,0,0, 0.5);
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  background-color: rgba(62,102,23, 0.8);
  border-color: rgba(62,102,23, 0.8);
  box-shadow: 0 0 .3rem .2rem rgba(0,0,0, 0.5);
}
