.access-forms {
padding-top:25px;
}

html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
	background-image: url(https://images.unsplash.com/photo-1523898377974-b4f882164761?ixlib=rb-0.3.5&s=25e34b1d34a4d24d5cdeb13da625e142&auto=format&fit=crop&w=1349&q=80);
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	 -o-background-size: cover;
  	background-size: cover;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#map {
  height: 500px;
  width: 500px;
  padding: 10px;
  margin: 5px;
}

.title{
  background-color: rgba(255,255,255, 0.65);
  width: 50%;
  border-radius: 10px;
  padding: 10px;
}
